.func_btn_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.func_btn_left,.func_btn_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.manage_info_table_body{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px #F2F2F2;
    position: relative;
}

.notice_view_subtitle{
    text-align: left;
    font-size: 16px;
    color: #458CFE;
    margin: 20px 20px 0 20px;
}

.notice_view_text{
    font-size: 14px;
    color: #000;
    margin: 0 20px 20px 20px;
    line-height: 20px;
}


.submit_btn{
    padding: 0 5px;
    border-radius: 10px;
    border: 0;
    text-align: center;
    cursor: pointer;
    width: 125px;
    height: 40px;
    background: #458CFE;
    color: #fff;
    margin-top: 20px;
    box-shadow: 0 0 5px 2px #C3DCFF;
}

.submit_btn_sec{
    padding: 0 5px;
    border-radius: 10px;
    border: 0;
    text-align: center;
    cursor: pointer;
    width: 125px;
    height: 40px;
    background: #EAEDF6;
    color: #000;
    box-shadow: 0 0 5px 2px #F2F2F2;
}

.submit_btn:hover{
    background: #1571ff;
}

.submit_btn_sec:hover{
    background: #D4D4DE;
}

.reg_step_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
}