.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
}

.footer_title{
    font-size: 0.7rem;
    text-align: center;
    color: #a8a8a8;
}

.footer_detail{
    font-size: 0.7rem;
    text-align: center;
    color: #a8a8a8;
}