/*menu*/
.panel_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 150px;
    padding: 10px 10px 0 10px;
    background: #458CFE;
}

.panel_menu_head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.check_logo{
    width: 120px;
    height: auto;
    margin-top: 10px;
}

.panel_menu_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 0;
    color: #fff;
}

.panel_menu_list li{
    cursor: pointer;
    padding: 15px 10px;
    width: 150px;
    text-align: center;
}

.panel_menu_list_selected{
    background: #5F9BFD;
}

.panel_menu_list li:hover{
    background: #5F9BFD;
}

.panel_menu_exit{
    padding: 15px 10px;
    width: 150px;
    background: #3A78DB;
    color: #fff;
    text-align: center;
}

.panel_menu_exit:hover{
    background: #cf3b3f;
}

.panel_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: absolute;
    top: 0;
    left: 170px;
    right: 0;
    bottom: 0;
    padding: 35px;
    /*overflow-x: hidden;*/
    overflow-y: scroll;
}

/*.panel_body::-webkit-scrollbar{*/
/*    display: none;*/
/*}*/

/*panel_body_home*/
.home_head{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home_head_left{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: #458CFE;
}

.home_welcome{
    font-size: 35px;
}

.home_welcome_attach{
    font-size: 16px;
}

.home_head_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.user_name{
    font-size: 18px;
    color: #000;
    margin-right: 15px;
}

.user_avatar{
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.home_data_view_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
}

.home_data_view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px #F2F2F2;
}

.home_data_view_content_title{
    width: 100%;
    text-align: left;
    height: 20px;
    line-height: 20px;
    text-indent: 2em;
    margin-top: 30px;
}

.home_data_view_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 150px;
}

.home_data_view_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.home_data_view_number{
    font-size: 35px;
}

.home_data_view_title{
    font-size: 16px;
    margin-top: 10px;
}

.home_tool_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.home_block_title{
    width: 100%;
    text-align: start;
    margin-top: 40px;
    color: #458cfe;
}

.home_tool_bar_title{
    width: 100%;
    text-align: start;
}

.home_tool_bar_body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.home_tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_tools_img_body{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #458CFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_tools_img_body:hover{
    background: #5F9BFD;
}

.home_tools_img{
    width: 30px;
    height: auto;
}

.home_tools_title{
    margin-top: 10px;
}

.span_fixed_home{
    height: 20px;
    color: rgba(0,0,0,0);
}

/*panel_body_manage*/
.float_add_btn{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: fixed;
    right: 50px;
    bottom: 70px;
    z-index: 50;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #458CFE;
    box-shadow: 2px 2px 5px 5px #F2F2F2;
}

.float_add_btn_img{
    width: 20px;
    height: auto;
    margin-left: 20px;
}

.float_add_btn:hover{
    background: #5F9BFD;
}

.manage_all_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom:140px;
}

.manage_list_item{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px #F2F2F2;
}

.manage_list_item:hover{
    background: #F1F6FC;
}

.manage_list_item_left{
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: center;
    margin-left: 20px;
}

.manage_list_item_title{
    font-size: 20px;
}

.manage_list_item_data_view_body{
    display: flex;
    flex-direction: row;
    align-content: start;
    justify-content: center;
    margin-top: 20px;
}

.manage_list_item_data_view{
    display: flex;
    flex-direction: row;
    align-content: start;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
}

.manage_list_item_data_view_img{
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.manage_list_item_right{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.manage_list_item_del{
    width: 20px;
    height: auto;
    margin-left: 5px;
}

.manage_list_item_right:hover{
    background: #ffa9ab;
}

.span_fixed_manage{
    height: 150px;
    color: rgba(0,0,0,0);
}
/*//////////////////*/
.main_btn{
    overflow: hidden;
}

.func_btn_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.func_btn_left,.func_btn_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.manage_info_table_body{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px #F2F2F2;
    overflow-x: scroll;
    overflow-y: auto;
}

.manage_info_table{
    text-align: center;
}

.manage_info_table tr td{
    height: 20px;
    padding: 5px;
    border: 1px solid rgba(69, 140, 255, 0);
}

.manage_info_table tr th{
    width: 200px;
    height: 20px;
    padding: 5px;
    border: 1px solid rgba(69, 140, 255, 0);
}

.manage_info_table tr:hover{
    background: #f9f9f9;
}

.change_able{
    width: 200px;
}

.change_able:hover{
    border: 1px solid #458CFE;
    background: #F1F6FC;
}

.readonly_td{
    width: 200px;
}

.readonly_td:hover{
    border: 1px solid #808080;
}

.change_able_editor{
    height: 20px;
    border: 0;
    background: none;
    text-align: center;
}

/*panel_body_mine*/