body{
    margin: 0;
    padding: 0;
}

.background_header{
    width: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: 0;
}

.background_header_img{
    width: 30%;
    height: auto;
}

.background_footer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
    width: 100%;
    height: 320px;
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    z-index: -1;
}

.background_footer_img{
    width: 10%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

.title{
    margin-top: 32px;
    font-size: 32px;
    color: #000;
}

.subtitle{
    margin-top: 10px;
    font-size: 20px;
    color: #000;
}

.sheet{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.sheet_logo{
    width: 110px;
    height: auto;
    margin-bottom: 30px;
}

.sheet input{
    width: 260px;
    height: 40px;
    border-radius: 50px;
    font-size: 13px;
    color: #000;
    margin: 16px 0;
}

.submit_btn{
    cursor: pointer;
    width: 260px;
    height: 40px;
    border-radius: 50px;
    background: #458cff;
    color: #fff;
    border: 0;
    margin-top: 20px;
    box-shadow: 0 0 5px 2px #C3DCFF;
}

.submit_btn a{
    padding: 16px 24px;
    color: #fff;
}

.submit_btn a:link{
    color: #fff;
    text-decoration: none;
}

.submit_btn a:visited{
    color: #fff;
    text-decoration: none;
}

.submit_btn a:hover{
    color: #fff;
    text-decoration: none;
    background: rgba(69, 140, 255, 0.6);
}