/*panel_body_personal*/
.me_func_body{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.me_func_item{
    cursor: pointer;
    width: 160px;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 5px 2px #F2F2F2;
    margin: 0 20px 20px 0;
}

.me_func_item_goto{
    transition: transform 200ms;
}

.me_func_item_goto:hover{
    background: #EAEDF6;
    transform: scale(1.05);
}

.me_func_item_img{
    width: 40px;
    height: 40px;
}

.me_func_item_avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.me_func_item_avatar_change{
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(69, 140, 254, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.me_func_item_avatar_change_text{
    font-size: 14px;
    color: #fff;
}

.me_func_item_gender{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
}

.me_func_item_edit{
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.me_func_item_username{
    font-size: 16px;
    color: #000;
    margin-top: 40px;
}

.me_func_item_title{
    font-size: 14px;
    color: #000;
    margin-top: 50px;
}

.panel_body_mine_page{
    width: 100%;
}

.me_func_item_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.me_func_item_line{
    cursor: pointer;
    width: 340px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 5px 2px #F2F2F2;
    transition: transform 200ms;
}

.me_func_item_line:hover{
    background: #EAEDF6;
    transform: scale(1.05);
}

.item_line_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
}

.item_line_title_body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.item_line_title_img{
    width: auto;
    height: 20px;
    margin-right: 10px;
}

.item_line_title{
    color: #000;
    font-size: 16px;
}

.item_line_text{
    color: #808080;
    font-size: 14px;
    margin-top: 20px;
}

.item_line_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.item_line_goto_img{
    width: 20px;
    height: auto;
}

.security_login_history_body{
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.security_login_history_content{
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 5px 2px #F2F2F2;
    position: absolute;
    left: 0;
    right: 170px;
    top: 0;
}

#changePWD{
    width:150px;
    height:250px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.security_login_history_title_body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #458CFE;
    margin: 20px 0;
}

.security_login_history_title{
    margin: 0 20px;
    font-size: 16px;
    color: #458CFE;
}

.security_login_history_title:nth-child(2){
    cursor: pointer;
}

.security_login_history_title:nth-child(2):hover{
    text-decoration-line: underline;
}

.security_login_history_table{
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.security_login_history_table tr td{
    height: 20px;
    padding: 5px;
    border: 1px solid rgba(69, 140, 255, 0);
    overflow: hidden;
    white-space: nowrap;
}

.security_login_history_table tr th{
    width: 200px;
    height: 20px;
    padding: 5px;
    border: 1px solid rgba(69, 140, 255, 0);
    overflow: hidden;
    white-space: nowrap;
}

.security_login_history_table tr:hover{
    background: #f9f9f9;
}

.security_chpwd_choose_body{
    cursor: default;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.security_chpwd_back_title{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 20px;
}

.security_chpwd_back_title img{
    width: auto;
    height: 20px;
}

.security_chpwd_back_title span{
    font-size: 16px;
    color: #458CFE;
    margin-left: 10px;
}

.security_chpwd_title{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    color: #458CFE;
}

.security_chpwd_choose_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.security_chpwd_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.security_chpwd_content input{
    height: 36px;
}

.security_chpwd_choose_item{
    cursor: pointer;
    width: 160px;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 5px 2px #F2F2F2;
}

.chpwd_sub_title{
    font-size: 14px;
    width: 270px;
    text-align: left;
    margin-bottom: 10px;
}

.security_chpwd_btn{
    cursor: pointer;
    width: 270px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #458CFE;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
    margin-top: 30px;
}

.security_chpwd_btn:hover{
    background: #1571ff;
}

.security_option_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.security_option_list_item{
    cursor: pointer;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.security_option_list_item:hover{
    background: #f9f9f9;
}

.security_option_list_item_title{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.security_option_list_item_title span:nth-child(1){
    font-size: 14px;
}

.security_option_list_item_title span:nth-child(2){
    font-size: 12px;
    margin-top: 5px;
    color: #9fa7ad;
}

.security_option_list_item .switcher_body{
    margin-right: 20px;
}

.security_option_list_item img{
    width: 15px;
    height: auto;
    margin-right: 20px;
}

.reg_need_verify_line{
    width: 270px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.span_fixed{
    height: 150px;
    color: rgba(0,0,0,0);
}

.mine_all_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom:140px;
}

.all_list_item{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 49%;
    padding: 20px 0;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px #F2F2F2;
}

.all_list_item_left{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
}

.all_list_item_left_bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
}

.all_list_item_title{
    font-size: 20px;
}

.all_list_item_text{
    font-size: 12px;
    margin-top: 5px;
    max-height: 50px;
    line-height: 15px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.all_list_item_img_line{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.all_list_item_img_line img{
    width: 50px;
    height: 50px;
    margin: 10px 10px 0 0;
}

.all_list_item_data_view_body{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    margin: 0 10px 0 20px;
}

.all_list_item_img{
    width: auto;
    height: 20px;
}

.func_btn_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.func_btn_left,.func_btn_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.personal_table_body{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px #F2F2F2;
    position: relative;
}

.upload_pic_line{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.upload_pic{
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 10px 0 20px 20px;
}

.feedback_subtitle{
    font-size: 16px;
    color: #458CFE;
    margin: 20px 20px 10px 20px;
}

.feedback_text{
    font-size: 14px;
    color: #000;
    margin: 0 20px 20px 20px;
    line-height: 20px;
}

.feedback_textarea{
    font-size: 14px;
    color: #000;
    margin: 0 20px 30px 20px;
    padding: 10px;
    resize: vertical;
    border: #EAEDF6 solid 2px;
    border-radius: 10px;
}

.feedback_edit_cnt{
    width: 100%;
    font-size: 12px;
    text-align: right;
    color: #808080;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.float_add_btn{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: fixed;
    right: 50px;
    bottom: 70px;
    z-index: 50;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #458CFE;
    box-shadow: 2px 2px 5px 5px #F2F2F2;
}

.float_add_btn_img{
    width: 20px;
    height: auto;
    margin-left: 20px;
}

.float_add_btn:hover{
    background: #5F9BFD;
}





.about_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.about_logo{
    width: auto;
    height: 200px;
}

.about_version{
    font-size: 14px;
    color: #666666;
    margin-top: 10px;
}